<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit chat</title>
</head>

<body>
    <form method="post" action="/chats/<%= chat.id %>?_method=put">
        <textarea name="message" id="mgs" rows="5" cols="30"><%= chat.message %></textarea>
        <br>
        <button>Done!</button>
    </form>
</body>

</html>