<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>Write New Chat...</h3>
    <form method="post" action="/chats">
        <label for="from">From : </label>
        <input type="text" id="from" name="from" placeholder="Enter your name">
        <br><br>
        <textarea name="message" id="mgs" placeholder="Write Your Message not more than 50 charectors" rows="5" cols="30"></textarea>
        <br><br>
        <label for="from">To : </label>
        <input type="text" id="to" name="to" placeholder="Enter your friend name">
        <br><br>
        <button>Send!</button>
    </form>
</body>
</html>