<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/chats/<%= id %>/?_method=delete">
        <p>Are you sure you want to delete message!</p>
        <button>yes</button>
    </form>
</body>
</html>