<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your Chat</title>
</head>
<body>
    <form method="post" action="/chats/<%= chat._id %>/?_method=patch">
        Edit chat ...
        <textarea name="msg"><%= chat.message %></textarea>
        <br>
        <button>Done!</button>
    </form>
</body>
</html>