<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <form method="post" action="/chats">
        <p>chat ...</p>
        <label for="from">Enter your name :</label>
        <input type="text" id="from" name="from">
        <br><br>
        <label for="msg">Write your message :</label>
        <textarea name="msg" id="msg" rows="3" cols="30"></textarea>
        <br><br>
        <label for="to">Enter name who you want to send:</label>
        <input type="text" id="to" name="to">

        <br>
        <button>send!</button>
    </form>
</body>
</html>