<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    <h3>You are about to edit this user <%= user.email %></h3>

    <form method="post" action="/user/<%= user.id %>?_method=PATCH">
        New Username
        <br>
        <textarea name="username"> <%= user.username %> </textarea>
        <br><br>
        <input type="password" name="password" placeholder="enter your password">
        <br>
        <button>Edit</button>
    </form>
</body>
</html>