<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a home page</h1>
    <h3>3*5 = <%= 3*5 %></h3>
    <h3><%= "appnacollege".toUpperCase() %></h3>
    <h3><%= ["hello", "bonjour", "namaskar"][1] %></h3>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Possimus eos numquam architecto consequuntur minus cupiditate fugiat molestias itaque culpa. 
        Soluta quam error corporis blanditiis? A nam cumque minima? Beatae, iste.
    </p>
    <button>click me!</button>
</body>
</html>